<div class="form-check">
  <input class="form-check-input is-valid check_boxes optional" type="checkbox" value="<%= amenity.id %>" name="flat[amenity_ids][]" id="flat_amenity_ids_<%= amenity.id %>">
  <label class="form-check-label collection_check_boxes" for="flat_amenity_ids_<%= amenity.id %>"><%= amenity.name %></label>
</div>
