<form action="#">
  <select class="form-select mb-3">
    <option selected>Select your Payment Option</option>
    <option value="1">Credit Card</option>
    <option value="2">Debit Card</option>
    <option value="3">eNets</option>
  </select>
  <div class="mb-3">
    <label class="form-label">Cardholder Name</label>
    <input class="form-control" value="Laura Williams">
  </div>
  <div class="mb-3">
    <label class="form-label">Card Number</label>
    <input class="form-control" value="4110 9932 **** ****">
  </div>
  <div class="mb-3">
    <label class="form-label">Expiration Date</label>
    <input class="form-control" value="03/29">
  </div>
  <div class="mb-3">
    <label class="form-label">CVV</label>
    <input class="form-control" value="345">
  </div>
  <div class="mb-3">
    <label class="form-label">Postal Code</label>
    <input class="form-control" value="12345">
  </div>
</form>

<%= button_to 'Pay', payment_update_booking_path(@booking),  :method => :patch,  form: {data: {turbo_confirm: 'Confirm Payment?'}} %>
