<div class="footer">
  <div class="footer-left d-flex align-items-center">
    <p>© 2022 Fakebnb, Inc.</p>
  </div>
  <div class="footer-right d-flex">
    <p class="pe-3"><i class="fa-solid fa-globe"></i> English (SG)</p>
    <p>$ SGD</p>
  </div>
</div>
