// Specific CSS for your home-page
.container{
  background-color: white;
}

.card{
  border: none;
}

.text-small{
  font-size: 12px;
}

.card-title{
  font-size: 14px;
}

.round-img{
  border-radius: 10%;
}

.flat-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
