.cards-img-size{
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.h1 {
  font-size: 30px;
}

.flat-details h2 {
  font-size: 25px;
}

.flat-details .flat-info {
  list-style: none;
  padding-left: 0;
}

.flat-details .flat-description {
  width: 500px;
}

.day.has-events {
  pointer-events: none;
  background-color: black;
}

.day {
  cursor: pointer;
}
